# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**
1. Pyhton
2. R
3. Scala

**Some of the commonly used libraries used by Data Scientists include:**
1. Pandas
2. Numpy
3. ggplot
4. Caret
5. Scikit-learn

| Data Science Tools |
--------------------
| Apache Airflow |
| PostgreSQL |
| Apache Kafka |
| Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
#This will convert 200 minutes to hours by diving by 60
NumOfMinutes = 200
Hours = NumOfMinutes / 60
print(Hours)

3.3333333333333335

#### These are the objectives of this notebook
- Create a Jupyter Notebook
- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries
- Create a markdown cell with a table of Data Science tools
- Create a markdown cell introducing arithmetic expression examples
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours
- Insert a markdown cell to list Objectives
- Create a markdown cell to indicate the Author's name
- Share your notebook through GitHub
- Take a screenshot of the first page of the notebook and save it as 1-notebook.png

## Author
Paul Diop